body{
    margin:0;
    font-family: Arial;
}

/* HEADER */
header{
    display:flex;
    justify-content:space-between;
    padding:15px 40px;
    color:white;
    background:linear-gradient(to right,#6a11cb,#2575fc);
}

nav a{
    color:white;
    margin-left:20px;
    text-decoration:none;
}

/* MAIN AREA */
.main{
    height:90vh;
    display:flex;
    background:linear-gradient(to right,#6a11cb,#2575fc);
}

/* LEFT SIDE */
.left{
    width:40%;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* RIGHT CARD */
.right{
    width:60%;
    background:#eee;
    border-top-left-radius:80px;
    border-bottom-left-radius:80px;
    padding:40px;
}

/* TABS */
.tabs button{
    padding:8px 20px;
    border:none;
    background:purple;
    color:white;
    border-radius:20px;
    margin-right:10px;
    cursor:pointer;
}

/* FORM */
.form{
    margin-top:20px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

.form input{
    padding:10px;
    border-radius:10px;
    border:1px solid gray;
}

.gender{
    grid-column:span 2;
}

.registerbtn{
    grid-column:span 2;
    padding:10px;
    background:purple;
    color:white;
    border:none;
    border-radius:20px;
    font-size:16px;
}