
/*CSS for doctor login*/

/* CSS for patient login page */





/* CSS for reset password page */

body {
    margin: 0;
    font-family: Arial;
}

.container {
    width: 300px;
    margin: 100px auto;
    background: #20c9c9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h2 {
    color: white;
}

input {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    background: black;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
}

/* CSS for patient appointment */


/* css for patient dashboard */
